@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.username-skeleton {
    width: 250px;
    height: 34px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
}

/* Adjusting for mobile version of welcome banner h1 */
@media (max-width: 768px) {
    .username-skeleton {
        width: 180px;
        height: 28px;
    }
}